
.login-container{
    max-width: 400px;
    margin: auto;
    padding-bottom: 120px;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
mat-card{
    padding: 25px;
}
mat-card-title{
    margin-bottom: 10px;
}
