@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .daily-quiz-container {
    background-color: mat.get-theme-color($theme, tertiary, 95);
  }
  .quiz-card{
    background-color: mat.get-theme-color($theme, tertiary, 90);
  }
  .answer-card:hover{
    background-color: mat.get-theme-color($theme, primary, 90);
  }
  .selected{
    background-color: mat.get-theme-color($theme, primary, 90);
  }
}
