@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  .app-header {
    background-color: mat.get-theme-color($theme, primary, 70);
    nav {
      li {
        a {
          color: mat.get-theme-color($theme, tertiary, 100);
          &:hover {
            color: mat.get-theme-color($theme, tertiary, 90);
          }
        }
      }
    }
  }
  footer {
    background-color: mat.get-theme-color($theme, primary, 60);
    color: mat.get-theme-color($theme, tertiary, 95);
    img{
        background-color: mat.get-theme-color($theme, tertiary, 80);
    }
  }
}
