<header class="app-header">
  <img src="assets/images/logo.png" alt="Logo"/>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/" *ngIf="!userService.isLoggedIn()">Home</a></li>
      <li><a routerLink="/login" *ngIf="!userService.isLoggedIn()">Login</a></li>
      <li><a routerLink="/signup" *ngIf="!userService.isLoggedIn()">Signup</a></li>
      <li><a routerLink="/dashboard" *ngIf="userService.isLoggedIn()">Dashboard</a></li>
      <li><a routerLink="/favorite-list" *ngIf="userService.isLoggedIn()">Favorite</a></li>
      <li><a routerLink="/" *ngIf="userService.isLoggedIn()" (click)="userService.logout()">Logout</a></li>
    </ul>
  </nav>
</header>


<router-outlet></router-outlet>

<footer>
  <p>Copyright &copy; 2024</p>
  <div>
    <a href="https://www.discord.com">
      <img src="assets/images/discordPNG.png" alt="Discord"/>
    </a>
    <a href="https://www.facebook.com">
      <img src="assets/images/facebookPNG.png" alt="Facebook"/>
    </a>
  </div>
</footer>