@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  mat-card.signup-card {
    background-color: mat.get-theme-color($theme, tertiary, 80);
  }
  mat-card-title {
    color: mat.get-theme-color($theme, primary, 40);
  }
  .mdc-text-field{
    background-color: mat.get-theme-color($theme, tertiary, 98);
    border-radius: 5px;
  }
}
