<div class="dashboard-container">
    <div class="dashboard-card">
        <mat-card class="journeyCard" (click)="goToJourney()">
            <mat-card-title>Commencez Votre Aventure</mat-card-title>
            <mat-card-subtitle>Premier Pas</mat-card-subtitle>
            <mat-card-content>
                Apprener les bases des verbes francais avec le verbe aimer
            </mat-card-content>
            <img class="journey" src="../../assets/images/journey.png">
        </mat-card>
    </div>
    <div class="dashboard-card">
        <mat-card class="dailyCard"  (click)="goToDaily()">
            <mat-card-title>Quizz Journalier</mat-card-title>
            <mat-card-content>
                Pratiquer vos connaissances
            </mat-card-content>
            <img class="quizz" src="../../assets/images/quizz.png">
        </mat-card>
        <mat-card class="favoriteCard"  (click)="goToFavoriteList()">
            <div class="overlay"></div>
            <mat-card-title>Vos Verbes Favoris</mat-card-title>
            <mat-card-content>
                Consulter leurs tableaux de conjugaison
            </mat-card-content>
            <img class="star" src="../../assets/images/star-outline.png">
        </mat-card>
    </div>
</div>
<!-- 
<div> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
<div> Icons made by <a href="https://www.flaticon.com/authors/vectors-tank" title="Vectors Tank"> Vectors Tank </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
<div> Icons made by <a href="https://www.flaticon.com/authors/fajrul-fitrianto" title="Fajrul Fitrianto"> Fajrul Fitrianto </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
-->

