
<div class="home-container">
    <div class="middle">
        <h1>Bienvenue sur <span class="fontEmphasis">Projet Verbe</span></h1>
        <div>
            Explorez, apprenez, conjuguez : les verbes n'auront plus de secrets pour vous !
        </div>
    </div>
    <div class="bg-beige">
       <div class="widthFix">
        <div class="imgBubble1">
           <h2 class="colorWhite">Nos Objectifs ?</h2>
        </div>
           <mat-list>
               <mat-list-item>
                   <span matListItemTitle>Fournir un Contenu Éducatif de Qualité :</span>
                   <span matListItemLine>Créer des leçons claires et bien structurées sur les verbes,  incluant leurs conjugaisons, usages, et exceptions.</span>
                   <span matListItemLine>Inclure des exemples et des exercices interactifs pour faciliter  la compréhension et la pratique.</span>
               </mat-list-item>
               <mat-list-item>
                   <span matListItemTitle>Offrir une Expérience Utilisateur Optimale :</span>
                   <span matListItemLine>Concevoir une interface intuitive et facile à naviguer.</span>
                   <span matListItemLine>Assurer que le site soit accessible sur différents appareils  (ordinateurs, tablettes, smartphones).</span>
               </mat-list-item>
               <mat-list-item>
                   <span matListItemTitle>Encourager l’Engagement et la Pratique Régulière :</span>
                   <span matListItemLine>Ajouter des fonctionnalités telles que des quiz, des jeux, et des     défis pour rendre l'apprentissage interactif et motivant.</span>
                   <span matListItemLine>Mettre en place un système de suivi des progrès et des    récompenses pour encourager la pratique continue.</span>
               </mat-list-item>
           </mat-list>
       </div>
       <div class="right">
        <div class="imgBubble2">
           <h2 class="colorWhite">Prêt à améliorer vos compétences linguistiques ?</h2>
        </div>
           <p>
               Découvrez dès maintenant tout ce que Projet Verbe a à offrir ! Plongez dans un univers  d'apprentissage interactif et efficace, conçu pour vous aider à maîtriser les verbes en  toute simplicité. Que vous soyez débutant ou avancé, il y a toujours quelque chose de    nouveau à apprendre.
           </p>
       </div>
    </div>
    <h2 class="primaryH2">
         Commencez votre voyage linguistique aujourd'hui et faites des progrès concrets à chaque     étape !
    </h2>

</div>